<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbcb.factor.web.mapper.ClearTableMapper">
    <sql id="ohlcList">
        id,event_id,ric,symbol,source,period,src_timestamp,begin_time,end_time,instance_id
        ,open_price,high_price,low_price,close_price,db_create_time,db_update_time
    </sql>

    <sql id="calResultList">
        id,cal_type,strategy_name,instance_name,instance_id
        ,period,src_timestamp,symbol,cal_result,begin_time,end_time
    </sql>
   <insert id="createFxTempTable">
       create table factor_fx_ohlc_detail_temp as select
           <include refid="ohlcList"/>
       from smds.factor_fx_ohlc_detail
   </insert>

    <update id="clearFxTable">
        truncate table smds.FACOTR_FX_OHlC_DETIAL
    </update>


    <insert id="copyToFxTable">
        insert into smds.FACTOR_FX_OHLC_DETAIL
            select
        <include refid="ohlcList"/>
        from FACTOR_FX_OHLC_DETAIL_TEMP
        where begin_time<![CDATA[>]]]> SYSDATE - INTERVAL '1' DAY
    </insert>

    <delete id="dropFxTempTable">
        drop table FACTOR_FX_OHLC_DETAIL_TEMP
    </delete>

    <insert id="createPmTempTable">
        create table FACTOR_PM_OHLC_DETAIL_TEMP as
            select
        <include refid="ohlcList"/>
        from SMDS.FACTOR_PM_OHLC_DATAIL
    </insert>

    <update id="clearPmTable">
        truncate table smds.FACTOR_PM_OHLC_DETAIL
    </update>


    <insert id="copyToPmTable">
        insert into smds.FACTOR_PM_OHLC_DETAL
            select
        <include refid="ohlcList"/>
        from FACTOR_PM_OHLC_DETAIL_TEMP
        where begin_time <![CDATA[>]]]> SYSDATE -INTERVAL '1' DAY
    </insert>

    <delete id="dropPmTempTable">
        drop table FACTOR_PM_OHLC_DETAIL_TEMP
    </delete>


    <insert id="createCalTempTable">
        create table FACTOR_CAL_RESULT_TEMP AS
            select
                <include refid="calResultList"/>
        from smds.FACTOR_CAL_RESULT
    </insert>

    <update id="clearCalTable">
        truncate table smds.factor_cal_result
    </update>

    <insert id="copyToCalTable">
        insert into smds.factor_cal_result
            select
                <include refid="calResultList"/>
        from factor_cal_result_temp
        where begin_time <![CDATA[>]]]> SYSDATE -INTERVAL '1' DAY
    </insert>

    <delete id="dropCalTempTable">
        drop table FACTOR_CAL_RESULT_TEMP
    </delete>




</mapper>